<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>헬스장 정보 리스트 페이지</title>
</head>

<body>
<table>
    <thead>
    <tr>
        <h1>Homepage</h1>
    </tr>
    <button type="submit" onclick="location.href='/save'">글쓰기</button>
    </thead>
    <tbody>
        <tr th:each = "healthInfo:${list}">
            <td th:text="${healthInfo.id}"></td>
            <td>
                <a th:text="${healthInfo.brand_name}"
                   th:href="@{/home/view(id=${healthInfo.id})}">
                </a>
                <a th:href="@{/home/delete(id=${healthInfo.id})}">삭제</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
